nav {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #066cb4;
  .navbar-brand {
    font-weight: 400;
    margin: 0 auto;
    font-size: 22px;
  }
  ul.navbar-nav {
    position: absolute;
    right: 0;
    margin-right: 30px !important;
    li {
      margin-right: 10px;
    }
  }
}

.spinner {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.15);
  /* opacity: .4; */
  z-index: 99;
  img {
    width: 50px;
    display: block;
    margin: 0 auto;
    margin-top: 200px;
    z-index: 100;
  }
}
