<div class="container">
  <div class="row">
    <div class="movie-info">
      <div class="left">
        <img src="assets/images/posters/{{movie.posterImgUrl}}" class="poster" />
      </div>
      <div class="right">
        <h2>{{movie.name}}</h2>
        <span class="movie-data">
          <label>Director:</label>
          <span>{{movie.director}}</span>
        </span>
        <span class="movie-data">
          <label>Year:</label>
          <span>{{movie.year}}</span>
        </span>
        <span class="movie-data">
          <label>Rating:</label>
          <span>{{movie.rating}}</span>
        </span>
        <span class="movie-data">
          <label> Synopsis:</label>
          <span>{{movie.synopsis}}</span>
        </span>
      </div>
    </div>
  </div>
</div>
