.container {
  font-family: 'Bitter', serif;
  .date-strip-container {
    float: none;
    margin: 0 auto;
    padding: 10px;
    .date-strip {
      height: 35px; //background-color: #b8d5ea;
      >div {
        height: 100%;
        .fa {
          vertical-align: -webkit-baseline-middle;
        }
      }
      .left-arrow-container {
        width: 30px;
        float: left;
        text-align: center;
      }
      .right-arrow-container {
        width: 30px;
        float: right;
        text-align: center;
      }
      .date-strip-row {
        display: inline-block;
        .data-tab {
          height: 100%;
          vertical-align: -webkit-baseline-middle;
          padding: 3px 10px 3px 10px;
          margin-right: 10px;
          background-color: #7babce;
          border-radius: 4px;
          cursor: pointer;
          &.active {
            background-color: #6ec577;
            cursor: default;
          }
        }
      }
    }
  }
  .movie-card-container {
    height: 300px;
    padding: 10px;
    .movie-card {
      height: 100%;
      img.movie-card-img {
        width: 160px;
      }
      div.movie-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
      }
      div.movie-info {
        display: inline-block;
        font-size: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 80%;
      }
      i.fa-eye {
        float: right;
        padding-right: 10px;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
}
