<div class="container">
  <div class="row">
    <div class="col-md-10 center-block date-strip-container">
      <div class="date-strip">
        <div class="left-arrow-container">
          <i class="fa fa-arrow-left"></i>
        </div>
        <div class="date-strip-row">
          <span class="data-tab active">
            12, Jun
          </span>
          <span class="data-tab">
            12, Jun
          </span>
          <span class="data-tab">
            12, Jun
          </span>
          <span class="data-tab">
            12, Jun
          </span>
          <span class="data-tab">
            12, Jun
          </span>
          <span class="data-tab">
            12, Jun
          </span>
          <span class="data-tab">
            12, Jun
          </span>
          <span class="data-tab">
            12, Jun
          </span>
          <span class="data-tab">
            12, Jun
          </span>
          <span class="data-tab">
            12, Jun
          </span>
        </div>
        <div class="right-arrow-container">
          <i class="fa fa-arrow-right"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div *ngFor="let i of t" class="col-md-2 movie-card-container">
          <div class="movie-card">
            <img src="assets/images/sample.png" class="movie-card-img" alt="">
            <div class="movie-title" title="Interstellar - The movie marathon.">
              Interstellar - The movie marathon.
            </div>
            <div class="movie-info">
              Christopher Nolan
            </div>
            <i class="fa fa-ticket" title="Book movie"></i>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
