nav {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #066cb4;
  .navbar-brand {
    font-weight: 400;
    margin: 0 auto;
    font-size: 22px;
  }
  ul.navbar-nav {
    position: absolute;
    right: 0;
    margin-right: 30px !important;
    li {
      margin-right: 10px;
    }
  }
}
